body {
  background-color: #f7f6f2;
  padding-top: 10%;
}

.todo-list {
  width: 80%;
  margin: auto;
}

.todo-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d6d4d0;
  padding: 15px 15px;
}

.todo-Container p {
  margin: 0;
}

.addItem-holder {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d6d4d0;
  padding: 15px 15px;
}

.addItem-holder input {
  border: none;
}

.addItem-holder input:focus {
  outline: none;
}

.todo-lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d6d4d0;
  padding: 15px 15px;
}

.chk01 {
  display: flex;
  gap: 15px;
}

.todo-lists p {
  margin: 0;
}

.clear-btn {
  border: none;
  width: 100%;
  padding: 15px 0;
  color: #9b9a97;
}

i {
  color: #d6d4d0;
}

@media (width > 768px) {
  .todo-list {
    width: 30%;
    margin: auto;
  }
}
