body {
  background-color: #f7f6f2;
  padding-top: 10%;
}

.todo-list {
  width: 80%;
  margin: auto;
}

.todolists {
  padding: 0;
  margin: 0;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d6d4d0;
  padding: 15px;
}

.head h1 {
  margin: 0;
  font-size: 14px;
}

.input-area {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  box-sizing: border-box;
  background-color: #fff;
  border-bottom: 1px solid #d6d4d0;
}

.input {
  border: none;
  width: 100%;
}

.input:focus {
  outline: none;
}

li {
  display: flex;
  list-style: none;
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #d6d4d0;
  padding: 15px 15px;
  width: 100%;
  box-sizing: border-box;
}

.chk02 {
  width: 100%;
}

.edit-list {
  border: none;
}

.edit-list:focus {
  outline: none;
}

.todo-lists p {
  margin: 0;
}

.clear-btn {
  border: none;
  width: 100%;
  padding: 15px 0;
  color: #9b9a97;
}

i {
  color: #d6d4d0;
}

@media (width > 768px) {
  .todo-list {
    width: 30%;
    margin: auto;
  }
}
